@page
@model FEIHub_Web.Pages.EditPostModel;
@{
    ViewData["Title"] = "Editar publicación";
}

<br>
<div class="containerPage">
    <h3>Editar publicación</h3>
<br>
@if(!String.IsNullOrEmpty(Model.PostInformation.id)){
    <form  method="POST"  asp-page="/EditPost">
        <input type="hidden" name="idThisPost" value="@Model.PostInformation.id"/>
        <input type="hidden" name="titleThisPost" value="@Model.PostInformation.title" />
        <div class="write-post-container">
            <div class="post-input-container">
                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input type="text" class="form-control" id="title" name="title" value="@Model.PostInformation.title">
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label">Descripción</label>
                    <textarea class="form-control" id="body" rows="3" name="body">@Model.PostInformation.body</textarea>
                </div>
                <div class="add-post-links">
                        <div class="post-components">
                            <label>Etiqueta: </label>
                            <select class="form-select" aria-label="Etiqueta:" asp-for="target">
                                <option selected value="none"></option>
                                <option value="EVERYBODY">Todos</option>
                                <option value="STUDENT">Estudiantes</option>
                                <option value="ACADEMIC">Académicos</option>
                            </select>
                        </div>
                        <label value="No podemos actualizar las fotos de tu publicación, pero pronto lo agregaremos"/>
                        <button type="submit" class="btn btn-primary" asp-page-handler="EditPost"> Guardar cambios</button>
                        <a class="btn btn-secondary" asp-page="/MainPage">Cancelar</a>
                </div>
            </div>
            @if (Model.ErrorMessage != null)
            {
                <div id="alertMessage" class="alert alert-danger alert-fade" role="alert">@Model.ErrorMessage</div>
                <script>
                    setTimeout(function() {
                        var alertMessage = document.getElementById("alertMessage");
                        alertMessage.style.display = "none";
                    }, 2000);
                </script>
            }
            @if (Model.SuccessMessage != null)
            {
                <div id="successMessage" class="alert alert-success mt-3 alert-fade">@Model.SuccessMessage</div>
                <script>
                    setTimeout(function() {
                        var alertMessage = document.getElementById("successMessage");
                        alertMessage.style.display = "none";
                    }, 2000);
                </script>
            }
        </div>
    </form>
}
else
{
    <div id="alertMessage" class="alert alert-danger alert-fade" role="alert">Error al cargar los datos de la publicación para editarla. Intente más tarde.</div>
    <script>
        setTimeout(function() {
            var alertMessage = document.getElementById("alertMessage");
            alertMessage.style.display = "none";
        }, 4000);
    </script>
}

</div>