@page
@model FEIHub_Web.Pages.MainPageModel;
@{
    ViewData["Title"] = "Página principal";
}
<!doctype html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>

    <body>
        <div class = "containerMainPage">
            <div class="left-sidebar">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Viendo publicaciones para: </label>
                    <select class="form-select" id="inputGroupSelect01">
                        <option value="Everybody">Todos</option>
                        <option value="Students">Estudiantes</option>
                        <option value="Academics">Académicos</option>
                    </select>
                </div>
                <a class="btn btn-light" href="NewPost">Nueva publicación</a>
            </div>
            <!-- #Main content-->
            <div class="main-content">
                @if(Model.posts!=null){
                    foreach(var post in Model.posts){
                        <div class="post-container">
                            <div class="rigth-align">
                                <p class="target">@post.GetTarget()</p>
                            </div>
                            <div class="post-row">
                                <div class="user-profile">
                                    @if(post.photos != null){
                                        <img src = @post.photos?.ElementAt(0).url>
                                    }
                                    <div>
                                        <p>@post.author</p>
                                        <span>@post.dateOfPublish</span>
                                    </div>
                                </div>

                                <div class="dropdown">
                                    <button
                                        class="btn btn-secondary dropdown-toggle"
                                        type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <form asp-page="/EditPost" asp-page-handler="Initializate" method="post">
                                                <input type="hidden" name="idPost" value=@post.id/>
                                                <button class="btn" type="submit">Editar
                                                </button>
                                            </form>
                                        </li>
                                        <li>
                                            <button class="btn" onclick="showModalDelete()">Eliminar
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal" tabindex="-1" id="modalDelete">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Eliminar publicación</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close" onclick="closeModalDelete()"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>¿Estás seguro que deseas eliminar la publicación?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal" onclick="closeModalDelete()">Cancelar</button>
                                            <button type="button" class="btn btn-primary">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="post-title">@post.title</p>
                            <p class="post-text">@post.body</p>
                            <div class="post-icons">
                                @if(post.photos != null){
                                    for (int i = 0; i < post.photos.Count(); i++){
                                        <img src=@post.photos.ElementAt(i).url class="post-img">
                                    }
                                }
                            </div>
                            <div class="post-icons">
                                <div class="activity-icons">
                                    <div>
                                        <button class="btn btn-primary-likes" type="submit">
                                            <i class="fa-regular fa-thumbs-up"></i>
                                        </button>
                                        <button class="btn btn-primary-likes" type="submit">
                                            <i class="fa-regular fa-thumbs-down"></i>
                                        </button>
                                        <button class="btn btn-primary-comment" type="submit">
                                            <i class="fa-regular fa-comment"></i>
                                        </button>
                                        <button class="btn btn-primary-report" onclick="showModalReport()">
                                            <i class="fa-solid fa-flag"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="modal" tabindex="-1" id="modalReport">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Reportar publicación</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close" onclick="closeModalReport()"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Nos preocupamos por mantener un ambiente de respeto y comodidad para toda la comunidad.
                                        Te agradecemos por preocuparte por ti y los demás usuarios reportando publicaciones que infrigen las reglas.<br>
                                        ¿Estás seguro que deseas reportar la publicación?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal" onclick="closeModalReport()">Cancelar</button>
                                    <button type="button" class="btn btn-primary">Reportar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- #endregion -->

            <!-- #rigth bar -->
            <div class="rigth-sidebar">
                <div class = "sidebar-title">
                    <h4>Seguidos</h4>
                    <a href=#>Ver todos</a>
                </div>
                @if(Model.following!=null){
                    @for(int i = 0; i < Model.following.Count(); i++)
                    {
                        <partial name="HeadlineUserPartial" model="@Model.following.ElementAt(i)"/>
                    }
                }
            </div>
        </div>

    </body>

</html>

<script>
    function showModalReport() {
    var modal = document.getElementById("modalReport");
    modal.style.display = "block";
    }

    function closeModalReport() {
    var modal = document.getElementById("modalReport");
    modal.style.display = "none";
    }

    function showModalDelete() {
    var modal = document.getElementById("modalDelete");
    modal.style.display = "block";
    }

    function closeModalDelete() {
    var modal = document.getElementById("modalDelete");
    modal.style.display = "none";
    }
</script>
