@using FeiHub.Models
@model Posts
                    <div class="post-container">
                        <div class="rigth-align">
                            <p class="target">@Model.target</p>
                        </div>
                        <div class="post-row">
                            <div class="user-profile">
                                @if(Model.photos != null){
                                    <img src = @Model.photos?.ElementAt(0).url>
                                }
                                <div>
                                    <p>@Model.author</p>
                                    <span>@Model.dateOfPublish</span>
                                </div>
                            </div>

                            <div class="dropdown">
                                <button
                                    class="btn btn-secondary dropdown-toggle"
                                    type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Editar</a></li>
                                    <li><a class="dropdown-item" href="#">Eliminar</a></li>
                                </ul>
                            </div>
                        </div>
                        <p class="post-title">@Model.title</p>
                        <p class="post-text">@Model.body</p>
                        <div class="post-icons">
                            @if(Model.photos != null){
                                for (int i = 0; i < Model.photos.Count(); i++){
                                    <img src=@Model.photos.ElementAt(i).url class="post-img">
                                }
                            }
                        </div>
                        <div class="post-icons">
                            <div class="activity-icons">
                                <div>
                                    <button class="btn btn-primary-likes" type="submit">
                                        <i class="fa-regular fa-thumbs-up"></i>
                                    </button>
                                    <button class="btn btn-primary-likes" type="submit">
                                        <i class="fa-regular fa-thumbs-down"></i>
                                    </button>
                                    <button class="btn btn-primary-comment" type="submit">
                                        <i class="fa-regular fa-comment"></i>
                                    </button>
                                    <button class="btn btn-primary-report" type="submit">
                                        <i class="fa-solid fa-flag"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                </div>